# ignoruj všechno
*

# povol složky a jejich obsah
!.helix/
!.helix/**

!.hypr/
!.hypr/**

!.quickshell/
!.quickshell/**

!.DankMaterialShell/
!.DankMaterialShell/**

# povol konkrétní soubory
!.gitignore
README.md
LICENSE
